import(SC2P)
import(MAST)
import(ggplot2)
import(RColorBrewer)
import(SingleCellExperiment)
importFrom(SummarizedExperiment, assays)

export(
    Est2Phase,
    GenerateCountMatrix,
    Simulate2SCE,
    SimulateMultiSCEs,
    runMAST,
    runBPSC,
    PowerEst,
    Power_Disc,
    Power_Cont,
    runPOWSC,
    plot.POWSC,
    summary.POWSC
)
